ads_v1/
*.mp4
.DS_Store

# Next.js
.next/
out/
build/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env*.local

# IDE
.vscode/
.idea/

# TS
*.tsbuildinfo
next-env.d.ts
